@import 'setup/vars.css';
@import 'setup/typography.css';

@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

@import 'cmps/ToyIndex.css';
@import 'cmps/AppHeader.css';
@import 'cmps/AppFooter.css';
@import 'pages/home.css';

@import 'cmps/UserMsg.css';

@import 'cmps/ToyFilter.css';
@import 'cmps/ToyList.css';
@import 'cmps/ToyPreview.css';

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app>* {
    width: 100%;
}

main {
    flex-grow: 1;
}