.app-header {
    background-color: var(--clr1);
    color: var(--clr1bg);
    padding-block: 1em;
}

.app-nav {
    display: flex;
    gap: 15px;
}

@media(max-width: 720px) {
    .app-header {
        color: var(--clr2bg);
    }
}