.app-header {
    /* background-color: var(--clr1); */
    color: var(--clr1);
    padding-block: 0.2em;
    text-align: center;
}

.app-header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-nav {
    display: flex;
    gap: 15px;

}

.app-nav a {

    color: var(--clr1);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 2em;
    letter-spacing: 3px;
    font-family: "Rubik Doodle Shadow";

}


.app-nav a:hover {
    color: #000;
}

.logo-img {
    width: 150px;
    border-radius: 50%;
}

@media(max-width: 720px) {
    .app-header {
        /* color: var(--clr2bg); */
    }

    .app-header .header-container {
        /* flex-direction: column; */
    }

    .app-nav {
        /* flex-direction: column; */
    }
}