.login-page,
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
    margin: auto;
    padding: 1rem;
}

/* .login-page {
    position: absolute;
    right: 20px;
    background-color: rgba(196, 234, 247, 0.486);
    border-radius: 10px;
} */

.login-form input,
.login-form button {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.login-form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.btns a {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it's above other content */
}

.login-signup-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    /* Above the backdrop */
    width: 90%;
    max-width: 400px;
    /* Adjust based on your design */
}