.toy-preview {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    text-align: center;
    position: relative;
}

.toy-preview h4 {
    text-transform: capitalize;
    color: black;
}

.toy-preview img {
    max-width: 100px;
}

.toy-container {
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 1em;
}

.toy-container img {
    height: 150px;
    max-width: 100%;
}