.user-msg {
    background-color: $background-light-gray;
    padding: 1.5em 2.5em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: $clr8;
    border-radius: 2px;
    font-size: 1.1em;

    &.success {
        background-color: $clr1;
    }

    &.error {
        background-color: $clr2;
    }

    button {
        font-size: .8em;
        float: right;
        margin: .5em;
    }
}