$clr2: #ae2012;
$clr1: #5ca2e4b9;
$clr3: #007bff;
$clr4: #0056b3;
$clr5: #007bff80;
$clr6: #004095;
$clr7: #ccc;
$clr8: white;
$clr9: #28a745;


$gray1: #ffffff66;
$gray2: #d3d3d32f;
$gray3: #2c2c2c;
$gray4: #0000004d;
$gray5: #00000033;
$gray6: #00000080;
$black1: #000;

// toy-preview
$text-color: #444;
$background-light: #e9ecef;
$shadow-light: #0000001a;

// user msg
$background-light-gray: lightgray;

// LAYOUT BREAKPOINTS
$break-narrow: 830px;
$break-normal: 900px;
$break-wide: 1920px;